
# tools for local work 
snyk.exe
.dcignore
roadmap.md
questions.md

epic_events/__pycache__
epic_events/jup.ipynb
epic_events/users.json
epic_events/users2.csv

epic_events/sales_user.py

# compiled files 
epic_events/tests/__pycache__
epic_events/tests/__pycache__

# secret data 
.env
data.json 
epic_events/users_clear.csv
epic_events/users.csv
epic_events/users.key

