[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bcrypt = "==4.1.2"
colorama = "==0.4.6"
greenlet = "==3.0.3"
iniconfig = "==2.0.0"
packaging = "==24.0"
pluggy = "==1.4.0"
prompt-toolkit = "==3.0.43"
psycopg2-binary = "==2.9.9"
pyjwt = "==2.8.0"
pytest = "==8.1.1"
sqlalchemy = "==2.0.28"
typing-extensions = "==4.10.0"
wcwidth = "==0.2.13"

[dev-packages]

[requires]
python_version = "3.11"
